.containerProfilJoueur{
    width: 100%;
    height: 100vh;
    background-image: url('/assets/img/imgProfilJoueur.jpeg');
    background-position: center;
    background-size: cover;
    background-color: rgb(56, 56, 56);
    background-blend-mode: multiply;
}

.formProfilJoueur{
    backdrop-filter: blur(.7rem);
    width: 60rem;
    height: 30rem;
    display: flex;
    gap: 2rem;
    background-color: rgba(48, 48, 48, 0.447);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    border-radius: .3rem;
}

.imgProfilJoueur{
    width: 20rem;
    height: 30rem;
    object-fit: cover;
    border-radius: .3rem;
}

.infosProfil{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 gap: 1rem;
}

.infosProfil div{
    width: 100%;
    display: flex;
    justify-content: space-around;
    gap: 1rem;
}
.infosProfil input {
    color:  rgba(180, 180, 180, 0.525);
    height: 2.5rem;
    padding: .5rem;
    width: 17rem;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgba(227, 128, 29, 0.406);
    transition: border-bottom 400ms ease-in-out;
}

.infosProfil input:focus{
    color:  rgba(180, 180, 180, 0.525);
    outline: none;
    border-bottom: 3px solid rgba(227, 128, 29, 0.863);
}

.infosProfil select{
    color:  rgba(180, 180, 180, 0.525);
    width: 93%;
    height: 2.5rem;
    padding: .5rem;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid rgba(227, 128, 29, 0.406);
    transition: border-bottom 400ms ease-in-out;
}

.infosProfil select:focus{
    outline: none;
    border-bottom: 3px solid rgba(227, 128, 29, 0.863);
}

.infosProfil button{
    color:  rgba(227, 227, 227);
    padding: .75rem 2rem;
    background-color:  rgba(227, 128, 29, 0.863);
    border: none;
    text-transform: lowercase;
    font-weight: 600;

}

.infosfiles{
    border:none!important;
    background-color: rgba(249, 249, 249, 0.228)!important;
    padding: 0!important;
    height: auto!important;
}

.infosfiles::-webkit-file-upload-button{
    outline: none;
    border: none!important;
    background-color: rgba(227, 128, 29, 0.863);
    padding: .5rem;
    margin-right: 1rem;
    color:  rgba(227, 227, 227);
}
